.sidebar {
  --vkui--color_background: var(--vkui--color_background_content);
  border-right: 1px solid var(--vkui--color_separator_primary);
}

.chat {
  background: var(--vkui--color_background) url('@/assets/chat-pattern.svg') 0 0 / 240px;
}
